@import "./variables";

.footer {
  display: flex;
  background-color: $lightest;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid $lighter;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: $body-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
