.btn {
  color: $body-color;
  background-color: $lightest;
  box-shadow: 0 0 0 0.05rem $light;
  border-color: $lightest;
  &:focus,
  &:active {
    box-shadow: 0 0 0 0.1rem $light;
    border-color: $lightest;
    background-color: $lightest;
  }
  &:hover {
    color: $body-color;
    background-color: $white;
    border-color: $lightest;
  }
  &.btn-danger {
    color: $white;
    background-color: $danger;
    background-color: $danger;
    border-color: $danger;
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.1rem $light;
      border-color: $lighter;
      background-color: $danger;
    }
  }
  &.btn-warning {
    color: $body-color;
    background-color: $warning;
    background-color: $warning;
    border-color: $warning;
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.1rem $light;
      border-color: $lighter;
      background-color: $warning;
    }
  }
  &.btn-success {
    color: $white;
    background-color: $success;
    background-color: $success;
    border-color: $success;
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.1rem $light;
      border-color: $lighter;
      background-color: $success;
    }
  }
  &.btn-info {
    color: $white;
    background-color: $info;
    background-color: $info;
    border-color: $info;
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.1rem $light;
      border-color: $lighter;
      background-color: $info;
    }
  }
  &.btn-primary {
    color: $white;
    background-color: $primary;
    background-color: $primary;
    border-color: $primary;
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.1rem $light;
      border-color: $lighter;
      background-color: $primary;
    }
  }
  &.btn-secondary {
    color: $white;
    background-color: $secondary;
    background-color: $secondary;
    border-color: $secondary;
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.1rem $light;
      border-color: $lighter;
      background-color: $secondary;
    }
  }
  padding: 0.5rem 1rem;

  svg {
    font-size: 1rem;
  }

  &.btn-block {
    display: block;
    margin-top: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    &.btn-block-sm-down {
      display: block;
      margin-top: 1.5rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    &.btn-block-md-down {
      display: block;
      margin-top: 1.5rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      width: 100%;
    }
  }
}
