.btn {
    color: $white;
    &:hover {
      color: $white;
    }
    // &.btn-success {
    //   color: $white;
    // }
    // &.btn-info {
    //   color: $white;
    // }
    // &.btn-primary {
    //   color: $white;
    // }
    // padding: 0.375rem 1rem .375rem .75rem;
  
    svg {
      font-size: 1rem;
    }
  
    @include media-breakpoint-down(sm) {
      &.btn-block-sm-down {
        display: block;
        margin-top: 1.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        width: 100%;
      }
    }
  
    @include media-breakpoint-down(md) {
      &.btn-block-md-down {
        display: block;
        margin-top: 1.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        width: 100%;
      }
    }
  
  }