@import '../variables.scss';

// form
.form-control {
  padding: 0.5rem 0.5rem;
  &[disabled], &[readonly] {
    background-color: $lightest;
    color: $body-color-light;
  }
}

.form-check-input[type=checkbox] {
  border-radius: $border-radius;
}

.form-check-input:checked {
  background-color: $primary;
}