.icon-text {
  white-space: nowrap;
  .icon-text-icon {
    width: 1em;
    text-align: center;
    display: inline-block;
    // margin-bottom: 20px;
    svg {
      margin-bottom: 0.25rem;
    }
  }
  .icon-text-text {
    display: inline-block;
    margin: 0rem 0.9em;
  }
}
