
// navs
.nav {
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  .nav-link {
    color: $body-color-light;
    padding: 0.5rem 1rem;
    // min-width: 110px;
    background-color: $white;
    // border-bottom: 2px solid $light;
    svg {
      color: $body-color-light;
    }
    &:hover {
      background-color: $lighter;
    }
    &.active {
      background-color: $lightest;
      color: $body-color;
      font-weight: 500;
      border-bottom: 2px solid $body-color;
      svg {
        color: $link-color;
      }
    }
  }
}

.nav-pills {
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: $lighter;
  }

  .header {
    display: block;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    // color: $dropdown-header-color;
    white-space: nowrap;
  }

  .nav-link {
    color: $body-color-light;
    padding: 0.5rem 1rem;
    background-color: $white;
    border-bottom: none;
    svg {
      color: $body-color-light;
    }
    &:hover {
      background-color: $lighter;
    }
    &.active {
      background-color: $lightest;
      color: $body-color;
      font-weight: 500;
      border-bottom: none;
      svg {
        color: $link-color;
      }
    }
  }

  // svg {
  //   margin-right: .8rem;
  // }
}