
// navs
.nav {
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  .nav-link {
    color: $body-color-light;
    padding: 0.5rem 1rem;
    background-color: $white;
    // border-top-width: 2px;
    // border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: $white;
    svg {
      color: $body-color-light;
    }
    &:hover {
      background-color: $lightest;
      border-color: $lightest;
    }
    &.active {
      background-color: $lightest;
      color: $body-color;
      font-weight: 500;
      border-color: $light;
      svg {
        color: $success;
      }
    }
  }
}

.nav-pills {
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: $lighter;
  }

  .header {
    display: block;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    white-space: nowrap;
  }

  .nav-link {
    color: $body-color-light;
    padding: 0.5rem 1rem;
    background-color: $white;
    border-color: $white;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0px;
    svg {
      color: $body-color-light;
    }
    &:hover {
      background-color: $lightest;
      border-color: $lightest;
    }
    &.active {
      background-color: $lightest;
      color: $body-color;
      font-weight: 500;
      border-color: $light;
      svg {
        color: $success;
      }
    }
  }
}


// header/navbar
.navbar {
  .navbar-toggler {
    padding:0;
    border: 0;
    outline: 0;
    box-shadow: 0;
    :focus {
      box-shadow: 0 0 0 0;
    }
  }
  .navbar-nav {
    .nav-link {
      color: $lighter;
      &:hover {
        color: $white !important;
      }
      svg {
        font-size: 3.6rem;
        color: $lighter;
        &:hover {
          color: $white;
        }
      }    
    }
  }
}